<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Driver</h2>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-5">

        <div class="info-wrap">
          <div class="container mt-5">
            <!-- Search Bar -->
            <div class="row" id="search-bar">
              <div class="d-flex justify-content-center">
                <form [formGroup]="filterForm" class="form-inline" (ngSubmit)="onSubmit()">
                  <div class="col-8">
                    <mat-form-field class="example-full-width mt-3">
                      <input matInput placeholder="Enter Delivery ID" formControlName="searchFilter"
                        name="searchFilter" />
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <button type="submit" color="primary" class="btn btn-success btn-lg btn-block">
                      Search
                    </button>
                  </div>
                </form>
              </div>
              <div class="row d-flex justify-content-center" *ngIf="errorMessage">
                <div class="alert alert-danger" role="alert">
                  Delivery not found
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-12 table-responsive">
                  <h1 *ngIf="delivery">Delivery Details</h1>
                  <table class="table" style="margin-top: 10px" *ngIf="delivery">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Delivery</th>
                        <td>{{ delivery._id }}</td>
                      </tr>
                      <tr>
                        <th scope="col">Location</th>
                        <td>
                          lat:{{ delivery?.location?.lat }}, long:{{ delivery?.location?.long }}
                        </td>
                      </tr>
                      <tr>
                        <th scope="col">Status</th>
                        <td>{{ delivery?.status }}</td>
                      </tr>
                      <tr>
                        <th scope="col">Pickup Time</th>
                        <td>{{ delivery?.pickup_time | date: 'medium' }}</td>
                      </tr>
                      <tr>
                        <th scope="col">Start Time</th>
                        <td>{{ delivery?.start_time | date: 'medium' }}</td>
                      </tr>
                      <tr>
                        <th scope="col">End Time</th>
                        <td>{{ delivery?.end_time | date: 'medium' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-12 table-responsive">
                  <h1 *ngIf="packages">Package Details</h1>
                  <table class="table" style="margin-top: 10px" *ngIf="packages">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Description</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Height</th>
                        <th scope="col">Width</th>
                        <th scope="col">Depth</th>
                        <th scope="col">From Name</th>
                        <th scope="col">From Address</th>
                        <th scope="col">From Location</th>
                        <th scope="col">To Name</th>
                        <th scope="col">To Address</th>
                        <th scope="col">To Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let package of packages">
                        <th scope="row">{{ package?._id }}</th>
                        <td>{{ package?.description }}</td>
                        <td>{{ package?.weight }}</td>
                        <td>{{ package?.height }}</td>
                        <td>{{ package?.width }}</td>
                        <td>{{ package?.depth }}</td>
                        <td>{{ package?.from_name }}</td>
                        <td>{{ package?.from_address }}</td>
                        <td>
                          lat:{{ package?.from_location?.lat }}, long:{{ package?.from_location?.long }}
                        </td>
                        <td>{{ package?.to_name }}</td>
                        <td>{{ package?.to_address }}</td>
                        <td>
                          lat:{{ package?.to_location?.lat }}, long:{{ package?.to_location?.long }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-7">
        <div class="info-wrap">
          <div class="row">
            <div class="col-8">
              <div class="google_map_container">
                <google-map [zoom]="mapZoom" [center]="mapCenter" [options]="mapOptions" width="100%">
                  <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
                    [title]="marker.title" [icon]="marker.icon" (mapClick)="openInfoWindow(marker)">
                  </map-marker>
                  <map-info-window>{{ markerInfoContent }}</map-info-window>
                </google-map>
              </div>
            </div>
            <div class="col-4">
              <button class="btn btn-primary mt-5 btn-w" (click)="onPickedUp(delivery._id)">
                Picked up
              </button>
              <button class="btn btn-warning mt-5 btn-w" (click)="onInTransit(delivery._id)">
                In-Transit
              </button>
              <button class="btn btn-success mt-5 btn-w" (click)="onDelivered(delivery._id)">
                Delivered
              </button>
              <button class="btn btn-danger mt-5 btn-w" (click)="onFailed(delivery._id)">
                Failed
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</section>
