<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a routerLink="/home" class="logo d-flex align-items-center me-auto">
      <h1 class="sitename">Gozem</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li *ngIf="isLoggedIn" routerLinkActive="active">
          <a routerLink="/user" class="nav_menu_link">User</a>
        </li>
        <li routerLinkActive="active" *ngIf="isLoggedIn && (role=='driver' || role=='admin' )">
          <a routerLink="/driver" class="nav_menu_link">Driver</a>
        </li>
        <li routerLinkActive="active" *ngIf="isLoggedIn && (role == 'driver' || role == 'admin'|| role=='customer')">
          <a routerLink="/admin" class="nav_menu_link">Admin</a>
        </li>
        <li routerLinkActive="active" *ngIf="isLoggedIn && (role == 'customer' || role == 'admin')">
          <a routerLink="/tracker" class="nav_menu_link">Tracker</a>
        </li>
        <li *ngIf="isLoggedIn" style="cursor: pointer">
          <a (click)="signOut()" class="nav_menu_link">LogOut</a>
        </li>

        <li routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/signin" class="nav_menu_link">SignIn</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/signup" class="nav_menu_link">SignUp</a>
        </li>
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

    <a class="btn-getstarted" *ngIf="isLoggedIn">{{ getUserName() }}</a>

  </div>
</header>
<main class="main">
  <router-outlet></router-outlet>
</main>
<footer id="footer" class="footer position-relative">
  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">Gozem</strong> <span>All Rights Reserved</span></p>

  </div>
</footer>
