<header class="container header">
  <!-- ==== NAVBAR ==== -->
  <nav class="nav">
    <div class="logo">
      <h2 routerLink="/home" style="cursor: pointer">test</h2>
    </div>

    <div class="nav_menu" id="nav_menu">
      <button class="close_btn" id="close_btn">
        <i class="ri-close-fill"></i>
      </button>

      <ul class="nav_menu_list">
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="isLoggedIn">
          <a routerLink="/user" class="nav_menu_link">User</a>
        </li>
        <li
          class="nav_menu_item"
          routerLinkActive="active"
          *ngIf="isLoggedIn && (role == 'driver' || role == 'admin')"
        >
          <a routerLink="/driver" class="nav_menu_link">Driver</a>
        </li>
        <li
          class="nav_menu_item"
          routerLinkActive="active"
          *ngIf="isLoggedIn && role == 'admin'"
        >
          <a routerLink="/admin" class="nav_menu_link">Admin</a>
        </li>
        <li
          class="nav_menu_item"
          routerLinkActive="active"
          *ngIf="isLoggedIn && (role == 'customer' || role == 'admin')"
        >
          <a routerLink="/tracker" class="nav_menu_link">Tracker</a>
        </li>
        <li class="nav_menu_item" *ngIf="isLoggedIn" style="cursor: pointer">
          <a (click)="signOut()" class="nav_menu_link">LogOut</a>
        </li>
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/signin" class="nav_menu_link">SignIn</a>
        </li>
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/signup" class="nav_menu_link">SignUp</a>
        </li>
        <li class="nav_menu_item" *ngIf="isLoggedIn">
          <p class="toggle_btn">
            {{ getUserName() }}
          </p>
        </li>
      </ul>
    </div>
  </nav>
  <hr />
</header>
<router-outlet></router-outlet>
