<section class="wrapper bg-gray h-75">
  <div class="container">
    <div class="grid-cols-2">
      <div class="grid-item-1">
        <h1 class="main-heading">
          Welcome to <span>Gozem API</span>
          <br />

        </h1>
        <p class="info-text">
          Package tracking web application
        </p>

      </div>
      <div class="grid-item-2">

        <div class="team_img_wrapper">
          <img src="./../assets/images/sigle_logo.png" alt="team-img" />
        </div>
      </div>
    </div>
  </div>
</section>
