<section id="hero" class="section hero light-background">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
        <p>Welcome to</p>
        <h1> Gozem API</h1>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="./../assets/images/sigle_logo.png" alt="team-img" class="img-fluid animated">
      </div>
    </div>
  </div>

</section><!-- /Hero Section -->
