<section class="wrapper">
  <div class="container">
    <div class="grid-cols-2">
      <div class="grid-item-1">
        <h1 class="main-heading">
          Welcome to <span>Gozem API test</span>
          <br />

        </h1>
        <p class="info-text">
          Api to track package
        </p>

      </div>
      <div class="grid-item-2">
        <div class="team_img_wrapper">
          <img src="./../assets/team.svg" alt="team-img" />
        </div>
      </div>
    </div>
  </div>
</section>
